.elements {
  max-width: 880px;
  margin: auto;
  padding-top: 50px;
}
.elements__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 361px);
  gap: 21px 17px;
}
